@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@theme {
    --font-sans: 'Inter', sans-serif;

    /* 1. O AZUL (Para usar nas bordas dos inputs) */
    --color-primary-dark: #002D5A;
    --color-primary-darker: #004182;
    
    /* 2. O VERMELHO (Para manter o topo do formulário vermelho) */
    --color-highlight: #D00000; 
    --color-highlight-dark: #B00000;
}

body {
    font-family: var(--font-sans);
}